# A: User-defined Function

In [2]:
# Function to return the list of squares
def square_list(numbers):
    return [x ** 2 for x in numbers]
print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]

In [4]:
#Function to count the number of vowels in a string
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count
print(count_vowels("Kajal Raut"))
print(count_vowels("Hello World"))

4
3

In [6]:
#Function to check if a numberdef is_armstrong(num):
def is_armstrong(num):
    digits = str(num)
    power = len(digits)
    total = sum(int(d)**power for d in digits)
    return total == num

print(is_armstrong(153))  
print(is_armstrong(123))

True
False

In [8]:
#Function to return names that start with 'S'
def names_starting_with_s(names):
    return [name for name in names if name.startswith('S') or name.startswith('s')]
print(names_starting_with_s(["Sam", "Kajal", "Sakshi", "Neha", "Saee"]))

['Sam', 'Sakshi', 'Saee']

In [10]:
#Function to find HCF (Highest Common Factor)
def find_hcf(a, b):
    while b:
        a, b = b, a % b
    return a
print(find_hcf(36, 60))
print(find_hcf(128,64))

12
64

# B:Lambda Function

In [13]:
# Check if a number is divisible by 5
is_divisible_by_5 = lambda x: x % 5 == 0
print(is_divisible_by_5(25))  
print(is_divisible_by_5(12))

True
False

In [15]:
#Convert Celsius to Fahrenheit
c_to_f = lambda c: (c * 9/5) + 32
print(c_to_f(92))    
print(c_to_f(103))

197.6
217.4

In [17]:
#Return the cube of a number
cube = lambda x: x ** 3
print(cube(3)) 
print(cube(9))

27
729

In [19]:
#Add (concatenate) two strings
add_strings = lambda a, b: a + b
print(add_strings("Hello, ", "World!"))  
print(add_strings("Kajal,","Raut"))

Hello, World!
Kajal,Raut

In [21]:
#Check if string length is greater than 8
is_long = lambda s: len(s) > 8
print(is_long("apple"))   
print(is_long("aeroplane"))

False
True

# C:Filter Function

In [24]:
# Filter strings with length greater than 4
words = ["apple", "is", "banana", "cat", "elephant"]
long_words = list(filter(lambda x: len(x) > 4, words))
print(long_words)

['apple', 'banana', 'elephant']

In [26]:
# Filter numbers greater than 100
nums = [10, 250, 90, 300, 45, 150]
greater_than_100 = list(filter(lambda x: x > 100, nums))
print(greater_than_100)

[250, 300, 150]

In [28]:
#Filter all odd numbers using lambda
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7, 9]

In [30]:
#Find names that end with the letter ‘a’
names = ["Neha", "Sam", "Kajal", "Komal", "Pooja"]
ends_with_a = list(filter(lambda name: name.lower().endswith('a'), names))
print(ends_with_a)

['Neha', 'Pooja']

In [32]:
#Filter out non-integer elements from a mixed list
mixed = [1, "hello", 3.14, 5, True, 7, "world", None]
only_integers = list(filter(lambda x: type(x) == int and not isinstance(x, bool), mixed))
print(only_integers)

[1, 5, 7]

# D:Format Function

In [34]:
#Format and print: "Student {name} scored {marks} marks in {subject}".
name = "Kajal"
marks = 96
subject = "Mathematics"
print("Student {} scored {} marks in {}.".format(name, marks, subject))

Student Kajal scored 96 marks in Mathematics.

# E: Map Function

In [37]:
#Convert a list of integers into their squares
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [39]:
#Convert a list of strings to uppercase
words = ["apple", "banana", "cherry"]
uppercased = list(map(str.upper, words))
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [41]:
#Subtract 2 from every number in a list
nums = [10, 20, 30, 40]
reduced = list(map(lambda x: x - 2, nums))
print(reduced)

[8, 18, 28, 38]

In [43]:
#Get the length of each word in a sentence
sentence = "Python is powerful and simple"
words = sentence.split()
lengths = list(map(len, words))
print(lengths)

[6, 2, 8, 3, 6]

In [45]:
#Multiply each element by its index
data = [4, 5, 6, 7]
result = list(map(lambda x: x[0] * x[1], enumerate(data)))
print(result)

[0, 5, 12, 21]